apiVersion: apps/v1
kind: Deployment
metadata:
  name: node-frontend-cnd
  labels:
    app: node-frontend-cnd
spec:
  replicas: 1
  selector:
    matchLabels:
      app: node-frontend-cnd
    spec:
      containers:
      - image: pchico83/node-frontend-cnd:0.1
        imagePullPolicy: Always
        name: node-frontend-cnd